*{
    margin: 0;
    padding: 0;
    
}

html{


}

:root {
    --content: #f0f9ff;
    --color-100: #e0f2fe;
    --color-200: #bae6fd;
    --color-300: #7dd3fc;
    --color-400: #38bdf8;
    --sidebar: #0ea5e9;
    --sidebar2: #0284c7;
    --color-700: #0369a1;
    --color-800: #075985;
    --color-900: #0c4a6e;
    --color-950: #082f49;
    --cardSide: #334155;
    --cardHover: #cbd5e1;
  }

body{
 font-family: Roboto;
 background-color: var(--color-100);
}

.mainContainer{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: repeat(9, 1fr);
    
}

.sidebarContainer{
    display: grid;
    grid-template-rows: 1fr 13fr;
    grid-row: 1/11;
    padding-left: 15px;
    background-color: var(--sidebar);
    color: white;
}



.branding{
    display: flex;
    height: 5vh;
    align-items: center;
    font-weight: bolder;
    font-size: 1.6rem;
    gap: 5px;
    padding-top: 10px;
}

.dashboard{
    height: 5vh;
    align-items: center;
    filter: invert(100%) sepia(2%) saturate(1%) hue-rotate(245deg) brightness(105%) contrast(96%);
}

.navigation{
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-row: 2/9;
    padding-top: 35px;
    padding-left: 5px;
}

.navContainer{
    display: flex;
    gap: 5px;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.navContainer:hover{
    color: var(--color-100);
    transform: translateY(-5px);
}

.navIcon{
    height:2.5vh;
    filter: invert(100%) sepia(2%) saturate(1%) hue-rotate(245deg) brightness(105%) contrast(96%);
}

.navItem{
    padding: 0.2rem;
    font-weight: bold;
}

.headerContainer{
    display: grid;
    grid-row: 1/2; 
    gap: 10px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    z-index: 0;
    box-shadow: -3px -4px 15px 1px rgba(0, 0, 0, 0.5);
    background-color: var(--content);
    
    
    
}

h1{
    font-size: 1.5rem;
    font-weight: bolder;
}

h3{
    font-size: 0.8rem;
}

.upperHeader{
    display: flex;
    height: 4.5vh;
    align-items: center;
}

.searchIcon{
    height: 2vh;
    
}
.searchContainer{
    width: 0; 
    overflow: hidden;
    transition: width 0.3s ease;
    display: inline-block;
    margin-right: auto;
}

.searchBar {
    width: 100%;
    height: 30px; 
    border: none;
    background-color: var(--content);  
    color: var(--color-900); 
    font-size: 16px; 
    padding: 0 10px; 
    transition: width 0.3s ease; 
    
}

.searchIcon:hover + .searchContainer {
    width: 300px; 
}


.menuContainer{
    display: flex;
    gap: 10px;
    margin-right: 5px;
    align-items: center;
}

.bellIcon{
    height: 2vh;
}

.charIconSmall{
    height: 2.5vh;
}

.userName{
    font-weight: bold;
    border: none;
}

.lowerHeader{
    display: flex;
    height: 4.5vh;
    align-items: center;
    gap: 5px;
}

.charIcon1{
    height: 4.5vh;
}

.introduction{
    margin-right: auto;
    padding-left: 5px;
}

.menuButton{
    border-radius: 15px;
    background-color: var(--sidebar);
    border: none;
    padding: 9px 20px 9px 20px;
    font-weight: bold;
    color: white;
    transition: background-color 0.3s ease;
}

.menuButton:hover {
    background-color: #0056b3; /* Change background color on hover */
  }



.contentContainer{
    display: grid;
    grid-column: 2/3;
    grid-row: 2/9;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    padding-right: 15px;
    padding-left: 20px;
    padding-top: 30px;
    background-color: var(--color-100);
    
}

.contentLabel1{
    align-content: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.libraryContainer{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    grid-row:2/11;
    gap: 15px;
    align-content:flex-start;
}

.libraryContainer .card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 7fr 1fr;
    height: 220px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    border-left: 5px solid var(--cardSide);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    gap: 10px;
    transition: transform 0.3s ease-in-out;
    
}

.card:hover{
    transform: translateY(-5px);
    background-color: var(--cardHover);
}

.cardHeader{
    font-weight: bold;
    grid-column: 1/4;
}

.cardDescription{
    font-size: 0.8rem;
    grid-column: 1/4;
    grid-row: 2/4;
    color: #3f3f46;

}

.cardIconContainer{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 15px;
    gap: 10px;
    margin-top: 80px ;
    grid-column: 3/4;
    grid-row: 3/4;
    transition: transform 0.3s ease-in-out;
}

.cardIcon{
    height: 2vh;
    transition: transform 0.3s ease-in-out;
}

.cardIcon:hover{
    transform: translateY(-8px);
}

.contentLabel2{
    align-content: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.card2{
    display: grid;
    grid-row: 2/6;
    grid-column: 2/3;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    grid-template-rows: repeat(3, 1fr);
    padding: 30px;
    align-items: center;
    
    
}

.card2Group{
    display: grid;
    gap: 5px;
    transition: transform 0.3s ease-in-out;
}

.card2Group:hover{
    transform: translateY(-8px);
    
}

.card2Header{
    font-weight: bold;
}

.card2Description{
    font-size: 0.8rem;
    color: #3f3f46;
}

.announcements{
    grid-column: 2/3;
    grid-row: 2/6;
}

.contentLabel3{
    align-self:self-end;
    font-weight: bold;
    font-size: 1.3rem;
}

.trending{
    grid-column: 2/3;
    grid-row: 7/11;
}

.card3{
    display: grid;
    grid-row: 7/11;
    grid-column: 2/3;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 30px;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    
}

.card3Group{
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.card3Group:hover{
    transform: translateY(-8px) translateX(5px);
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    backdrop-filter: blur(2px); /* Apply blur effect */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above everything else */
    overflow: hidden;
}

#bookFormDialog {
    border: none;
    padding: 2rem;
    padding-right: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    max-width: 80%; /* Limit maximum width of the dialog */
    overflow: hidden;
}

#bookFormDialog form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#bookFormDialog label {
    font-weight: bold;
}

#bookFormDialog input[type="text"],
#bookFormDialog input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--color-300);
    border-radius: 5px;
}

#bookFormDialog input[type="checkbox"] {
    transform: scale(1.5);
}

#bookFormDialog button[type="submit"] {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--sidebar);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#bookFormDialog button[type="submit"]:hover {
    background-color: var(--sidebar2);
}

#bookFormDialog button[type="button"] {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--color-300);
    color: var(--color-900);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#bookFormDialog button[type="button"]:hover {
    background-color: var(--color-400);
}